<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Log Highlighter</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
      p > span {
        background: yellow;
      }
      p > em {
        background: aquamarine;
      }
      .message-bar {
        position: fixed;
        bottom: 0;
        background-color: darkgrey;
        width: 100%;
        max-height: 200px;
        overflow-x: scroll;
        left: 0;
        opacity: 0.8;
      }
      .message-bar > p {
        margin: 0;
      }
      .message-bar>p:nth-of-type(even) {
        background-color: grey;
      }
      #hide-logs {
        position: fixed;
        right: 0px;
        color: red;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <header>
          <div>Term: <i>{{ message }}</i>; Counter: {{ counter }}; Total: <a v-bind:href="`#${total}`">{{ total }}</a></div>
        <div>
          <h3>Status codes:</h3>
          <button v-on:click="higlightTerm($event, ' 200 ')">200</button>
          <button v-on:click="higlightTerm($event, ' 201 ')">201</button>
          <button v-on:click="higlightTerm($event, ' 404 ')">404</button>
          <button v-on:click="higlightTerm($event, ' 500 ')">500</button>
          <h3>HTTP Methods:</h3>
          <button v-on:click="higlightTerm($event, 'HEAD')">HEAD</button>
          <button v-on:click="higlightTerm($event, 'GET' )">GET</button>
          <button v-on:click="higlightTerm($event, 'POST')">POST</button>
          <p>
          <input id="change-mode" type="checkbox" v-model='modeFilter'></input>
          <label for="change-mode">Filter</label>
          <p>
          <input v-model.lazy="auxHighlight" type="text"></input>
          <label>Auxilary Highlight</label>
          <p>
          <button @click="message = '';history = []">Clear history</button>
          <ul id="highlight-history">
            <li v-for="item in history">
                <button v-on:click="higlightTerm($event, item.query)">{{ item.query }}</button>{{ item.counter }}
            </li>
          </ul>
          <hr>
        </div>
        <input type="file" v-on:change="reader" />
      </header>
      <div>
        <div v-on:click="selectText" v-for="line in dataLines"><p v-html="line"></p></div>
      </div>
      <div class="message-bar" id='logs'>
          <button v-on:click="hideLogBar" id="hide-logs">Close</button>
          <p v-for="(line, id) in logging">{{ id+1 }}: {{line.term}} {{line.time}}</p>
      </div>
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          modeFilter: false,
          message: "",
          lines: [],
          counter: 0,
          total: 0,
          auxHighlight: "",
          history: [],
          logging: [],
        },
        created() {
          let uri = window.location.search.substring(1);
          let params = new URLSearchParams(uri);
          this.message = params.get("q");
        },
        computed: {
          dataLines: function () {
            res = [];
            this.counter = 0;
            for (const line of this.lines) {
              let text = line.text;
              if (this.message) {
                if (text.includes(this.message)) {
                  const pieces = text.split(this.message);
                  text = pieces.join("<span>" + this.message + "</span>");
                  // Highlight IP addr
                  const idx = text.indexOf(" ");
                    text = "<span>" + text.slice(0, idx) + "</span>" + text.slice(idx);
                  this.counter++;
                } else {
                  if (this.modeFilter) continue;
                };
                if (this.auxHighlight.length > 0 && text.includes(this.auxHighlight)) {
                  const pieces = text.split(this.auxHighlight);
                  text = pieces.join("<em>" + this.auxHighlight + "</em>");
                };
              }
              let id = line.id;
              const link = `<a id="${id}" href="#${id}">#${id}</a>`;
              res.push(link + '&nbsp'+text);
            }
            if (this.message) this.history.unshift({query: this.message, counter: this.counter});
            if (this.history.length > 10) this.history.pop();
            return res;
          },
        },
        methods: {
          hideLogBar: function () {
            var bar = document.getElementById('logs');
            bar.style.display = "none";
          },
          log: function(msg) {
            const time = new Date().getTime();
            this.logging.push({term: msg, time: time});
            var bar = document.getElementById('logs');
            bar.scrollTop = bar.scrollHeight;
          },
          selectText: function () {
            // Get search term
            selection = window.getSelection().toString();
            if (selection) {
              this.message = selection;
            };
            this.log(selection);
          },
          higlightTerm: function(ev, term) {
            this.message = term;
            this.log(term);
          },
          reader: function (ev) {
            // Read file and populate data
            const reader = new FileReader();
            reader.onload = (ev) => {
              const rawLines = ev.target.result.split("\n");
              this.lines = [];
              for (const [idx, line] of rawLines.entries()) {
                this.lines.push({ text: line, id: idx+1 });
              }
              this.total = this.lines.length;
            };
            reader.readAsText(ev.target.files[0]);
          },
        },
      });
    </script>
  </body>
</html>
